# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: buwd3fyvnjp7yxrdicdg-mysql.services.clever-cloud.com
    database_port: 3306
    database_name: buwd3fyvnjp7yxrdicdg
    database_user: u1dz0875bomnfbtp
    database_password: vhrLqaVInbn20dHDM3vi
    mailer_transport: null
    mailer_host: null
    mailer_user: null
    mailer_password: null
    secret: 90cb4b7ed5ea1e05fcf144bddba6d73f2f75be76
